<h1>Editing Instruction</h1>

<%= render 'form', instruction: @instruction %>

<%= link_to 'Show', @instruction, class: 'btn btn-warning' %> |
<%= link_to 'Back', admin_instructions_path, class: 'btn btn-default' %>
