<div class="nested-fields">
  <tr>
    <td><%= f.input :body %></td>
    <td><%= f.input :correct %></td>
    <td><%= link_to_remove_association "remove option", f, class: 'btn btn-default' %></td>
  </tr>
</div>
